build --cxxopt=-std=c++20
build --copt=-fPIC
build --jobs=auto
build --copt=-DBAZEL_BUILD
build --copt=-Wno-unknown-pragmas

build --copt=-falign-functions=5
build --copt=-fmath-errno
build --copt=-ffp-contract=off
build --copt=-fno-rounding-math
build --copt=-march=x86-64
build --copt=-maes
build --copt=-mcx16
build --copt=-msse4.2
build --copt=-mpclmul
build --copt=-mprfchw
build --copt=-mavx
build --copt=-mtune=generic
build --copt=-gno-split-dwarf
build --copt=-gdwarf-5
build --copt=-gz=zlib
build --copt=-O3
build --copt=-ffast-math
build --copt=-funroll-loops
build --copt=-ftree-vectorize
build --copt=-fopenmp
build --copt=-mavx2
build --copt=-mfma

build --copt=-Werror

build --copt=-ffp-contract=off
build --copt=-flax-vector-conversions

build -c opt
test --copt=-O1
test --compilation_mode=fastbuild

# Suppress external/third_party warnings
build --per_file_copt=external/.*@-w
build --host_per_file_copt=external/.*@-w
build --per_file_copt=third_party/.*@-w
build --host_per_file_copt=third_party/.*@-w
build --per_file_copt=testing/.*@-Wno-overloaded-virtual
build --host_per_file_copt=testing/.*@-Wno-overloaded-virtual

# Suppress some warnings
build --copt=-Wno-sign-compare
build --copt=-Wno-uninitialized

try-import .bazelrc_local

build:lto --copt=-flto=auto
build:lto --linkopt=-flto

build:gcc --cxxopt=-Wno-missing-requires --cxxopt=-Wno-comment
