build --cxxopt=-std=c++20
build --copt=-fPIC
build --jobs=auto
build --copt=-DBAZEL_BUILD
build --copt=-Wno-unknown-pragmas

build --copt=-falign-functions=5
build --copt=-fmath-errno
build --copt=-ffp-contract=off
build --copt=-fno-rounding-math
build --copt=-maes
build --copt=-mcx16
build --copt=-msse4.2
build --copt=-mpclmul
build --copt=-mprfchw
build --copt=-mavx
build --copt=-mtune=generic
build --copt=-gdwarf-5
build --copt=-gz=zlib
build --copt=-ffast-math
build --copt=-funroll-loops
build --copt=-ftree-vectorize
build --copt=-fopenmp
build --copt=-mavx2
build --copt=-mfma

#build --copt=-Werror

build --copt=-ffp-contract=off
build --copt=-flax-vector-conversions

build:debug --copt=-O0 --copt=-fno-omit-frame-pointer --copt=-DNDEBUG

#build -c opt
test --copt=-O1
test --compilation_mode=fastbuild

# Suppress external/third_party warnings
build --per_file_copt=external/.*@-w
build --host_per_file_copt=external/.*@-w
build --per_file_copt=third_party/.*@-w
build --host_per_file_copt=third_party/.*@-w
build --per_file_copt=testing/.*@-Wno-overloaded-virtual
build --host_per_file_copt=testing/.*@-Wno-overloaded-virtual

# Suppress some warnings
build --copt=-Wno-sign-compare
build --copt=-Wno-uninitialized
build --copt=-Wno-nan-infinity-disabled
build --copt=-Wno-unknown-warning-option
build --copt=-Wno-unused-command-line-argument
build --cxxopt=-Wno-missing-requires

try-import .bazelrc_local

build:lto --copt=-flto=auto
build:lto --linkopt=-flto

build:gcc --cxxopt=-Wno-comment
build:clang --cxxopt=-stdlib=libc++  --cxxopt=-lc++abi
build:clang --linkopt=-stdlib=libc++
build --action_env=CC=/usr/bin/clang-17
build --action_env=CXX=/usr/bin/clang++-17
