__pycache__/
resolved_deps.py
*.swp
compile_commands.json
.devcontainer/devcontainer.json
.devcontainer/._devcontainer.json
.codelite/
.cache/
build-*
*.workspace
build/
.build-*
debs/*.deb
integration/valkeytestframework
integration/valkeytestframework*
dump.rdb
test-data*
integration/test-data/
.kiro/
venv/
env/
.venv/
.env/
