bazel-*
__pycache__/
MODULE.bazel.lock
resolved_deps.py
*.swp
compile_commands.json
.devcontainer/devcontainer.json
.devcontainer/._devcontainer.json
.codelite/
.cache/
build-*
*.workspace
build/
.build-*
